.top-header {
  background: #174c80;
}

.navbar {
  background: #174c80;
}
.navbar__item {
  color: #fff;
}

.results {
  padding: 1.25rem 0;
  margin-top: 2.5rem;
}

h1 {
  text-align: center;
  font-size: 1.875rem;
}
